@import url("https://fonts.googleapis.com/css2?family=Alice&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,600&family=Marhey:wght@300;400&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    letter-spacing: 2px;
}

/* quick view product style  */

.product-view .swiper-slide-thumb-active {
    opacity: 1;
}

/* quick view product style  */
/* scroll bar style  */
.scroll {
    width: 20px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0 10px;
}
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.49);
    border-radius: 12px;
    border: 2px solid #fdfdfd;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.384);
}

::-webkit-scrollbar-track {
    background: #fdfdfd;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
}
/* scroll bar style */
